aiogram>=3.0
aiohttp
python-dotenv
apscheduler
pandas
openpyxl
matplotlib
sqlalchemy
asyncpg
fastapi
uvicorn
python-multipart
jinja2==3.1.3
greenlet
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
aiohttp-socks