aiogram>=3.0
aiohttp
python-dotenv
apscheduler
pandas
openpyxl
matplotlib
sqlalchemy
asyncpg
fastapi==0.115.0
starlette==0.38.6
uvicorn
python-multipart
jinja2
greenlet
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
aiohttp-socks